* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* ----------------------------- NAVIGATION BAR ----------------------------- */
.logo {
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
}

.menu {
    color: aliceblue;
    text-decoration: none;
    border: 1px solid aliceblue;
    border-radius: 30px;
    padding: 5px 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(187, 26, 26);
    padding: 15px 0;
}

.navlist {
    display: flex;
    list-style: none;
}

.navlist a {
    color: aliceblue;
    text-decoration: none;
    padding: 0 30px;
}

.logo:hover, .menu:hover, .navlist a:hover {
    color: black;
    border-color: black;
}

/* ----------------------------- CONTENT ----------------------------- */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-rows: 300px;
    width: 1200px;
}

.gallery img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.vaporeon {
    border: 5px solid rgb(104, 187, 208);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.jolteon {
    border: 5px solid rgb(252, 212, 112);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.flareon {
    border: 5px solid rgb(241, 124, 73);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.espeon {
    border: 5px solid rgb(172, 142, 193);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.umbreon {
    border: 5px solid rgb(65, 60, 76);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.leafeon {
    border: 5px solid rgb(147, 207, 178);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.glaceon {
    border: 5px solid rgb(122, 172, 172);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.sylveon {
    border: 5px solid rgb(249, 183, 207);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}


/* ----------------------------- FOOTER ----------------------------- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.footlist {
    display: flex;
    list-style: none;
    gap: 30vw;
    white-space: nowrap;
}

.footlist a {
    text-decoration: none;
    color: black;
}

.policy:hover {
    text-decoration: underline;
}


/* ----------------------------- RESPONSIVE (MEDIA QUERIES) ----------------------------- */

@media screen and (max-width: 1280px) {
    
    .wrapper {
        display: flex;
        justify-content: center;
    }
    
    .gallery {
        grid-template-columns: repeat(2, 300px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 600px;
        margin: 30px auto;
    }  
}

@media screen and (max-width: 700px) {
    
    .wrapper {
        display: flex;
        justify-content: center;
    }
    
    .gallery {
        grid-template-columns: repeat(1, 300px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 300px;
        margin: 30px auto;
    }  
}
