* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* --------------- NAVIGATION BAR --------------- */
.navbar {
    background-color: rgb(182, 1, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.logo {
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
}

.menu {
    color: aliceblue;
    text-decoration: none;
    border: 1px solid aliceblue;
    border-radius: 40px;
    padding: 5px 20px;
}

.navlist {
    display: flex;
    list-style: none;
}

.navlist a{
    text-decoration: none;
    color: aliceblue;
    padding: 0 30px;
}

.logo:hover, .menu:hover, .navlist a:hover {
    color: black;
    border-color: black;
}

/* --------------- CONTENT --------------- */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: 300px;
    width: 1200px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.gallery img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.vaporeon {
    background-color: white;
    border: 5px solid rgb(138, 205, 250);
    border-radius: 20px;
}
.jolteon {
    background-color: white;
    border: 5px solid rgb(255, 225, 116);
    border-radius: 20px;
}
.vaporeon {
    background-color: white;
    border: 5px solid rgb(138, 205, 250);
    border-radius: 20px;
}
.flareon {
    background-color: white;
    border: 5px solid rgb(255, 152, 89);
    border-radius: 20px;
}
.espeon {
    background-color: white;
    border: 5px solid rgb(201, 181, 209);
    border-radius: 20px;
}
.umbreon {
    background-color: white;
    border: 5px solid rgb(75, 84, 90);
    border-radius: 20px;
}
.leafeon {
    background-color: white;
    border: 5px solid rgb(165, 222, 178);
    border-radius: 20px;
}
.glaceon {
    background-color: white;
    border: 5px solid rgb(133, 179, 174);
    border-radius: 20px;
}
.sylveon {
    background-color: white;
    border: 5px solid rgb(231, 189, 198);
    border-radius: 20px;
}


/* --------------- FOOTER --------------- */

.footer {
    display: flex;
    background-color: rgb(95, 95, 95);
    justify-content: center;
    padding: 20px;
}

.footlist {
    display: flex;
    list-style: none;
    gap: 50vw;
    flex-shrink: 0;
}

.footlist a {
    text-decoration: none;
    color: black;
}

/* --------------- MEDIA QUERIES --------------- */

@media screen and (max-width: 1280px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-auto-rows: 300px;
        width: 600px;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        padding: 20px 0;
        margin: auto;
    }
}

@media screen and (max-width: 680px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-auto-rows: 300px;
        width: 300px;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        padding: 20px 0;
        margin: auto;
    }

    .navlist {
        display: none;
    }

    .copyright {
        display: none;
    }
}
